body {
	background: url("../img/game_background.jpg") no-repeat bottom fixed;
	background-size: 1500px;
	height: auto;
	font-family: Open sans, Helvetica Neue, sans-serif;
	margin: 0;
	padding: 0;
}

#topMenu {
	position: absolute;
	width: 100%;
	z-index: 2;
}

#counter {
	text-align: left;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: -1px 1px black;
	color: white;
	width: 17%;
	height: 150px;
	float: left;
}

#counter p {
	padding-left: 5px;
}

.scoreDiv {
	padding-left: 5px;
}

.scoreDiv h1 {
	display: inline;
	margin-right: 5px;
}

.scoreDiv p {
	display: inline;
}

#weapons {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: -1px 1px black;
	color: white;
	height: 150px;
	width: 70%;
}

#weapons p {
	padding-left: 5px;
}

.weapon {
	margin-left: 20px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

#racket {
	border: 5px solid #0066CC;
}

#broom {
	border: 5px solid #73AD21;
}

#shovel {
	border: 5px solid #FF9933;
}

#hand {
	border: 5px solid #FFFF00;	
}

#specialWeapon {
	float: right;
	margin-right: 20px;
	margin-top: -10px;
	padding-top: 10px;
}

#specialWeapon > p {
	float: right;
	margin-top: -10px;
}

#repellent {
	border: 5px solid gray;
}

#status {
	float: right;
	text-align: center;
	width: 13%;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: -1px 1px black;
	color: white;
}

.nada {
	font-size: 2em;
}

.dengue {
	padding-top: 10px;
	font-size: 1.5em;
}

.zika {
	font-size: 2em;
}

.chikungunya {
	padding-top: 20px;
	font-size: 0.9em;
}

#gameZone {
	width: 100%;
	height: 100%;
}

#start {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -125px;
	width: 400px;
	height: 250px;	
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 1em;
	z-index: 10;
}

#start h1 {
	color: yellow;
	font-size: 2em;
}

#startButton {
	visibility: hidden;
}

.gameOverAlert {
	margin-left: 500px;
	text-align: justify;
	background-size: black;
}

#over {
	visibility: visible;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	margin-top: -250px;
	width: 700px;
	height: 500px;
	text-align: justify;
	background-color: rgba(255, 255, 255, 1);
	font-size: 1em;
	z-index: 10;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}

#over h1 {
	text-align: center;
	font-size: 2em;
}

#symptomsList {
	list-style-type: none;
	padding: 0;
}

#prevention {
	display: inline-block;
}

.waterTankImage {
	float: left;
	width: 150px;
	margin-right: 50px;
}

.waterTankImage img {
	width: 150px;
}

.vaseImage {
	float: left;
	width: 150px;
}

.vaseImage img {
	width: 150px;
}

#stayTuned {
	display: inline-block;
}

.facebook {
	float: left;
	width: 120px;
	margin-right: 20px;
}

.facebook img {
	width: 80px;
}

.website {
	float: left;
	width: 120px;
	margin-right: 20px;
}

.website img {
	width: 92px;
}

.disqueSaude {
	float: left;
	width: 120px;
}

.disqueSaude img {
	width: 100px;
}

#fadeCurtains {
	position: absolute;
	background-color: rgba(51, 51, 51, 0.44);
	width: 100%;
	height: 100%;
	z-index: 3;
}

#threeTwoOne {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -75px;
	width: 200px;
	height: 150px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 1em;
	z-index: 10;
}

#threeTwoOne h1 {
	color: yellow;
	font-size: 2em;
}

#warning {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -125px;
	width: 400px;
	height: 250px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 1em;
	z-index: 10;
}

#warning h1 {
	color: yellow;
	font-size: 2em;
}

#person {
	background-image: url("../img/person.png");
	background-size: 100%;
	width: 170px;
	height: 480px;
	right: 80px;
	bottom: 48px;
	position: absolute;
}

.aedes {
	background-image: url("../img/mosquitos/mosquitos_mosquito_0.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 3;
}

.tire {
	background: url("../img/tire.png") no-repeat;
	background-size: 100%;
	width: 100px;
	height: 74px;
	position: absolute;
	margin-top: 0px;
}

.vaseRed {
	background: url("../img/vases/vases_vase_1.png") no-repeat;
	background-size: 100%;
	width: 100px;
	height: 101px;
	position: absolute;
	margin-top: 0px;
}

.vaseYellow {
	background: url("../img/vases/vases_vase_4.png") no-repeat;
	background-size: 100%;
	width: 100px;
	height: 101px;
	position: absolute;
	margin-top: 0px;
}

.repellent {
	width: 40px;
	position: absolute;
}

.clock {
	background: url("http://worldartsme.com/images/alarm-clock-free-clipart-1.jpg") no-repeat;
	background-size: 100%;
	width: 35px;
	height: 32px;
	position: absolute;
}

#blackCurtains {
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
}

@media only screen and (max-width: 400px) {
	#start {
		width: 310px;
		margin-left: -155px;
	}

	#over {
		width: 310px;
		margin-left: -155px;
	}
}