html {
	height: 100%;
}

body {
	background: url("http://cache.clickcamboriu.com.br/2015/02/dom-jaime.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
}

.aedes {
	background-image: url("http://4.bp.blogspot.com/-922U1dBfps4/TpvrXSLrLKI/AAAAAAAABys/iKL9Vx5M1xE/s1600/nyamuk2.gif");
	background-size: 100%;
	width: 100px;
	height: 65px;
	position: absolute;
}