body {
	background: url("../img/game_background.jpg") no-repeat bottom fixed;
	background-size: 1500px;
	height: auto;
	font-family: Open sans, Helvetica Neue, sans-serif;
	margin: 0;
	padding: 0;
}

#topMenu {
	position: absolute;
	width: 100%;
	z-index: 2;
}

#counter {
	text-align: left;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: -1px 1px black;
	color: white;
	width: 17%;
	height: 150px;
	float: left;
}

#counter p {
	padding-left: 5px;
}

.scoreDiv {
	padding-left: 5px;
}

.scoreDiv h1 {
	display: inline;
	margin-right: 5px;
}

.scoreDiv p {
	display: inline;
}

#weapons {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: -1px 1px black;
	color: white;
	height: 150px;
	width: 65%;
}

#weapons p {
	padding-left: 5px;
}

.weapon {
	margin-left: 20px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

#racket {
	border: 5px solid #0066CC;
}

#broom {
	border: 5px solid #73AD21;
}

#shovel {
	border: 5px solid #FF9933;
}

#hand {
	border: 5px solid #FFFF00;	
}

#specialWeapon {
	float: right;
	margin-right: 20px;
	margin-top: -10px;
	padding-top: 10px;
}

#specialWeapon > p {
	float: right;
	margin-top: -10px;
}

#repellent {
	border: 5px solid gray;
}

#status {
	float: right;
	text-align: center;
	width: 18%;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: -1px 1px black;
	color: white;
}

#symptom {
	font-size: 1.5em;
}

#gameZone {
	width: 100%;
	height: 100%;
}

.weaponsInstructions {
	display: inline-block;
}

.racketImage {
	float: left;
	width: 100px;
}

.racketImage img {
	width: 100px;
	margin-right: 20px;
}

.repellentIcon {
	width: 100px;
}

#symptomsList {
	list-style-type: none;
	padding: 0;
}

#prevention {
	display: inline-block;
}

.waterTankImage {
	float: left;
	width: 150px;
	margin-right: 50px;
}

.waterTankImage img {
	width: 150px;
}

.vaseImage {
	float: left;
	width: 150px;
}

.vaseImage img {
	width: 150px;
}

.shareFacebook {
	background-color: #3765a3;
	padding: 20px;
	position: relative;
}

.fbWhite {
	width: 30px;
	position: absolute;
	top: 5;
	left: 160px;
}

.shareFacebook a {
	position: absolute;
	color: white;
	text-decoration: none;
	width: 100%;
	height: 100%;
	top: 10;
	left: 10;
}

#stayTuned {
	display: inline-block;
}

.facebook {
	float: left;
	width: 120px;
	margin-right: 20px;
}

.facebook img {
	width: 80px;
}

.website {
	float: left;
	width: 120px;
	margin-right: 20px;
}

.website img {
	width: 92px;
}

.disqueSaude {
	float: left;
	width: 120px;
}

.disqueSaude img {
	width: 100px;
}

#person {
	background-image: url("../img/person.png");
	background-size: 100%;
	width: 170px;
	height: 480px;
	right: 80px;
	bottom: 48px;
	position: absolute;
}

.aedes {
	background-size: 100%;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 3;
}

.veryFast {
	background-image: url("../img/mosquitos/mosquitos_mosquito_5.png");
}

.fast {
	background-image: url("../img/mosquitos/mosquitos_mosquito_6.png");
}

.normal {
	background-image: url("../img/mosquitos/mosquitos_mosquito_3.png");
}

.slow {
	background-image: url("../img/mosquitos/mosquitos_mosquito_0.png");
}

.verySlow {
	background-image: url("../img/mosquitos/mosquitos_mosquito_1.png");
}

.tire {
	background: url("../img/tire.png") no-repeat;
	background-size: 100%;
	width: 100px;
	height: 74px;
	position: absolute;
	margin-top: 0px;
}

.vaseRed {
	background: url("../img/vases/vases_vase_1.png") no-repeat;
	background-size: 100%;
	width: 100px;
	height: 101px;
	position: absolute;
	margin-top: 0px;
}

.vaseYellow {
	background: url("../img/vases/vases_vase_4.png") no-repeat;
	background-size: 100%;
	width: 100px;
	height: 101px;
	position: absolute;
	margin-top: 0px;
}

.garbage {
	background: url("../img/garbage.png") no-repeat;
	background-size: 100%;
	width: 200px;
	height: 100px;
	position: absolute;
	margin-top: 0px;
}

.repellent {
	width: 80px;
	position: absolute;
}

@media only screen and (max-width: 400px) {
	
}